.ui.divider
.ui.three.column.grid.footer
  .equal.height.row
    .column
      | Campanhas*:
      p
        a(href="http://naofoiacidente.org")
          | Não Foi Acidente
      p
        a(href="http://paradapelavida.com.br")
          | Parada Pela Vida
      p
        a(href="http://www.roadsafetyfund.org/")
          | Road Safety Fund
    .column
      | Realização:
    .column
      | Legal
