extends ../layout
block body
  script(src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js")

  .jumbotron
    .row
      .col-sm-6.col-sm-offset-3
         img.img-responsive(src="/images/rodovia-segura.png", style="margin: 0 auto;")
    .row
      .col-sm-6.col-sm-offset-3
        form.input-group.input-group-lg(role="form")
          input.form-control(id="search", placeholder="Informe a Rodovia", type="text", "data-provide"="typehead", autocomplete="off", autofocus)
          span.input-group-btn
            button#busca.btn.btn-default(type="button")
              i.glyphicon.glyphicon-search
            //button#busca.btn.btn-default(type="button") buscar

      //#map(style="height:280px;")

    :coffee

      ufcor = (sg)->
        sigla =
          'NE': '#ddee66'
          'SE': '#f6f6f6'
        return sigla[sg]

      formata_regiao = (f)->
        return {
          dashArray: '3'
          weight: 2
          color: 'gray'
          fillColor: ufcor f.properties.SIGLA
        }

      w =
        limit: 20
        where:
          lbrlongitude:
            "not": 'null'
          lbruf: "DF"

      osmurl="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      osmcloud = "http://{s}.tile.cloudmade.com/#{apikey}/997/256/{z}/{x}/{y}.png"
      
      # registro no cloudmade
      apikey = "7e01a6d95d0d448f9b41e9820fe0be3d"

      map = L.map('map').setView [-15.94, -47.84], 4

      mapProps = 
        attribution: "Map data: OpenStreetMap"
        minZoom: 1
        maxZoon: 12

      # L.tileLayer(osmurl, mapProps).addTo(map)
      L.geoJson(regioes, style: formata_regiao).addTo(map)
  
      $.post '/local/find', w, (r)->
        L.marker([i.lbrlatitude.trim(), i.lbrlongitude.trim()]).addTo map for i in r
